.clothing {
    padding-top: 8vw;
    background-color: #F8F6F2;
    margin: 0 auto;    
}

.clothing__mission {
    max-width: 630px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #1A1A1A;
    margin: auto;
}

.clothing__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-top: 6.4vw;
}

.clothing__gender {
    max-width: 522px;
}

.clothing__gender-pic {
    width: 100%;
}

.clothing__button {   
    padding-right: 18px;
    margin-left: 10px;   
}
