.objects {
    padding-top: 3.5vw;
    padding-bottom: 10vw;
    background-color: #F8F6F2;
    margin: 0 auto;
    }

.objects__pic {
    width: 100%;
}

.objects__button {
       margin-left: 10px;
    padding-right: 18px;    
}